* {
    padding: 0;
    margin: 0;
    font-family: PopBold, Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: PopBold;
    src: url(/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: PopLight;
    src: url(/fonts/Poppins-Light.ttf);
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 64px;
    background-color: #ef5350;

}

.nav-title {
    color: white;
    font-size: 24px;
}

/* Pokedex */

.pokedex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 64px;
    margin-bottom: 64px;
}

.pokemon-object {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    background-color: #EBEBEB;
    min-width: 720px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 4px;
}

.pokemon-object:hover {
    cursor: pointer;
    background-color: #e2e2e2;
}

.pokemon-name {
    font-size: 18px;
    padding: 8px;
    text-transform: capitalize;
}

.pokemon-name:hover {
    color: #ef5350;
}













/* PokemonView */

.pokemon-view {
    margin-top: 48px;
    margin-bottom: 48px;
}

.pokemon-object-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    text-transform: capitalize;
}

/* TYPES */

.types-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.type {
    font-size: 18px;
    border-radius: 4px;
    padding: 4px 12px;

    margin: 12px;
}

.grass {
    background-color: green;
    color: white;
}

.poison {
    background-color: purple;
    color: white;
}

/* Sprites */

.sprite-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sprite {
    height: 256px;
    width: 256px;
    background-color: #e2e2e2;
    border-radius: 4px;
    margin: 4px;
}

/* Extra info */

/* Biometrics */

.biometrics {
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    border-radius: 4px;
    text-align: center
}

.metric-title {
    background-color: #ef5350;
    color: white;
    border-radius: 4px;
}

.biometrics-row {
    background-color: #ef5350;
    color: white;
}

.metric {
    width: 128px;
    border-radius: 4px;
    font-size: 14px;
}

.metric-num {
    background-color: #969696;
    color: white;
    border-radius: 4px;
    font-size: 12px;
}

/* Stats */

.stats-table {
    /* background-color: #e2e2e2; */
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    border-radius: 4px;
    text-align: center
}

.stats-table-title {
    background-color: #ef5350;
    color: white;
    border-radius: 4px;
}

.labels-row {
    background-color: #ef5350;
    color: white;
}

.label {
    width: 128px;
    border-radius: 4px;
    font-size: 14px;
}

.stat {
    background-color: #969696;
    color: white;
    border-radius: 4px;
    font-size: 12px;
}

























.footer {
    background-color: rgb(255, 240, 240);
    padding-top: 64px;
    padding-bottom: 64px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-header {
    color: rgb(113, 48, 48);
    font-family: PopBold;
    font-size: 24px;
    font-weight: 600;
}

.footer-logos, ul {
    list-style-type: none;
}

.footer-item {
    padding-left: 4px;
    padding-right: 4px;
}

.footer-link, a {
    text-decoration: none;
}

.footer-logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-item-img {
    height: 32px;
    fill: rgb(113, 48, 48);
}

.footer-copyright {
    color: rgb(113, 48, 48);
    font-family: PopLight;
    font-size: 16px;
    font-weight: 100;
}
